.vite{
    width: 25%;
}

#viteGiocatore{
    width: 30%;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 7%;
    right: 3%;
    display: flex;
    gap: 1%;
}

#viteComputer{
    width: 30%;
    position: fixed;
    top: 7%;
    left: 3%;
    display: flex;
    gap: 1%;
}

