.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.sasso {
  position: fixed;
  bottom: 40%;
  left: 43%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
}

.carta {
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
}

.forbice {
  position: fixed;
  bottom: 40%;
  left: 57%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
}

.getup {
  position: fixed;
  bottom: 85%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 4rem;
}

.porta {
  position: fixed;
  top: 40%;
  left: 10%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 25px;
}

.snake {
  position: fixed;
  top: 250px;
  right: 5px;
  height: 100px;
  width: 200px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
}