.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.sasso {
  position: fixed;
  bottom: 40%;
  left: 43%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
}

.carta {
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
}

.forbice {
  position: fixed;
  bottom: 40%;
  left: 57%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2rem;
}