 /* QUESTO è UN FILE .CSS DOVE ABBIAMO MESSO TUTTE LE ESTETICHE E I FONT DA CARICARE PER LA SCHERMATA DI TITOLO
 ALL'INIZIO DI OGNI FILE LO STILE VIENE PRESO DA QUI TRAMITE LA LINEA DI CODICE:
<    link rel="stylesheet" href="../css/stile.css">      */



 /* MENU */

 /* da qui, tutti i righi che iniziano com @font-face servono a caricare i font salvati dentro al sistema,
        le righe di prima sono il PRELOAD, cioè servono ad evitare ritardi, queste servono a trovare i font veri e propri*/
 @font-face {
   /*@font-face serve a specificare un font custom da caricare*/
   font-family: 'Andy';
   src: url('../fonts/ANDYB.TTF') format('truetype');
 }

 @font-face {
   font-family: 'teacher';
   src: url('../../fonts/Teacher_Sez_by_smartalecvt.ttf') format('truetype');
 }

 @font-face {
   font-family: 'japab';
   src: url('../../fonts/JAPAB___.TTF') format('truetype');
 }

 @font-face {
   font-family: 'wingdings';
   src: url('../../fonts/wingding.ttf') format('truetype');
 }

 @font-face {
   font-family: 'Ringmaster';
   src: url('../../fonts/JFRingmaster.ttf') format('truetype');
 }

 @font-face {
   font-family: 'wasted';
   src: url('../../fonts/Mostwasted.ttf') format('truetype');
 }

 @font-face {
   font-family: 'zealot';
   src: url('../../fonts/zealot.ttf') format('truetype');
 }


 #gametitle {
   font-size: 5rem;
   transition: font-family 0.5s;
   margin-top: 50px;
   top: 20%;
 }

 /* su queste righe setto la posizione relativa del menu, cosi non intralcia i bottoni,
        altrimenti verrebbero spostati quando il titolo cambia di grandezza*/
 .menu {
   position: relative;
   margin: 0;
   justify-content: center;
   align-items: start;
   height: 100px;
   font-size: 2rem;
   display: flex;
 }

 /* questa classe, .background, si riferisce a ogni singola immagine di sfondo
 e setta le proprietà di uno sfondo a ognuna di esse, dicesi che occupano tutto lo schermo,
 sono fisse, stanno dietro a tutti gli altri elementi*/
 .background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* serve a far adattare l'immagine allo schermo */
   z-index: -1;
   /* fa andare lìimmagine dietro tutti gli altri elementi */
  }

.textboxBasso{
  resize: none;
  pointer-events: none;
  user-select: none;

  width: 70%;
  height: 20%;
  position: fixed;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  bottom: 0;

  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding: 1%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.6);

  z-index: 998;
}
.textboxAlto{
  resize: none;
  pointer-events: none;
  user-select: none;

  width: 40%;
  height: 20%;
  position: fixed;
  right: 10%;
  top: 1%;
  transform: translateX(10%);
  bottom: 0;

  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding: 1%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.6);

  z-index: 998;
}

 /* overlay è l'oggetto che fa da transizione (fade to black) e sta davanti a tutto
 è di sfondo nero, e ha 2 stati, in uno è visibile e sparisce lentamente,
 ogni volta che viene cambiata stanza la sua opacità viene lentamente modificata*/
 #overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000000;
   opacity: 1;
   transition: opacity 0.5s ease;
   pointer-events: none;
   z-index: 999;
 }

 #overlay.visible {
   opacity: 0;
 }



 /*BOTTONI*/

 .bottone{
  padding: 12px 20px;
  position: fixed;
  transform: translateX(-50%);
  text-align: center;
  background: transparent;

 }

  /* setto posizione assoluta sui bottoni cosi rimangono sempre fissi in un punto*/

 #menuInizio {
   bottom: 55%;
   left: 50%;
   font-size: 125%;
 }

 #menuCrediti {
   bottom: 40%;
   left: 50%;
   font-size: 125%;
 }

 #menuSchizzofrenia {
   bottom: 25%;
   left: 50%;
   font-size: 125%;
 }

 /* QUANDO STAI SDRAIATO SUL LETTO */
 #alzati {
   height: 100px;
   width: 200px;
   top: 20%;
   left: 10%;
   font-size: 125%;
 }

 /* MECCANICA BASE DI SASSO CARTA FORBICE */
 #sasso {
   bottom: 40%;
   left: 43%;
   font-size: 150%;
 }

 #carta {
   bottom: 40%;
   left: 50%;
   font-size: 150%;
 }

 #forbice {
   bottom: 40%;
   left: 57%;
   font-size: 150%;
 }


 /* QUA PER QUANDO SIAMO NEL CORRIDOIO */
 #cucina {
   padding: 12px 20px;
   position: fixed;
   bottom: 60%;
   left: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 150%;
   background: transparent;
 }

 #bagno {
   padding: 12px 20px;
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 150%;
   background: transparent;
 }

 #garage {
   padding: 12px 20px;
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 150%;
   background: transparent;
 }

 /* QUANDO SEI AFFACCIATO SULLA FINESTRA */

 #salta {
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 250%;
   background: transparent;
 }

 #portaCamera {
   padding: 12px 20px;
   position: fixed;
   top: 40%;
   left: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 25px;
   background: transparent;
 }

 /* QUESTO E' UN BOTTONE INVISIBLE, E' NELLA CAMERA E TI PORTA 
  ALLA FINESTRA PRIMA DI COMBATTERE CONTRO LA PORTA */

 #finestra{

 }

 #finestra.nascosto {
   top: 1%;
   right: 0%;
   height: 70%;
   width: 10%;
   font-size: 25px;
   border: none;
   cursor: pointer;
 }

 #medicine{
   top: 40%;
   right: 10%;
   font-size: 25px;
 }

 #indietroBagno{
   bottom: 10%;
   right: 50%;
   font-size: 25px;
 }


 /*  QUESTO BOTTONE FA INIZIARE LA BOSSFIGHT CONTRO I CEREALI */
 #bottoneBossCereali {
   bottom: 60%;
   left: 50%;
   font-size: 4rem;
 }