 /* QUESTO è UN FILE .CSS DOVE ABBIAMO MESSO TUTTE LE ESTETICHE E I FONT DA CARICARE PER LA SCHERMATA DI TITOLO
 ALL'INIZIO DI OGNI FILE LO STILE VIENE PRESO DA QUI TRAMITE LA LINEA DI CODICE:
<    link rel="stylesheet" href="../css/stile.css">      */



 /* MENU */

 /* da qui, tutti i righi che iniziano com @font-face servono a caricare i font salvati dentro al sistema,
        le righe di prima sono il PRELOAD, cioè servono ad evitare ritardi, queste servono a trovare i font veri e propri*/
 @font-face {
   /*@font-face serve a specificare un font custom da caricare*/
   font-family: 'Andy';
   src: url('../fonts/ANDYB.TTF') format('truetype');
 }

 @font-face {
   font-family: 'teacher';
   src: url('../../fonts/Teacher_Sez_by_smartalecvt.ttf') format('truetype');
 }

 @font-face {
   font-family: 'japab';
   src: url('../../fonts/JAPAB___.TTF') format('truetype');
 }

 @font-face {
   font-family: 'wingdings';
   src: url('../../fonts/wingding.ttf') format('truetype');
 }

 @font-face {
   font-family: 'Ringmaster';
   src: url('../../fonts/JFRingmaster.ttf') format('truetype');
 }

 @font-face {
   font-family: 'wasted';
   src: url('../../fonts/Mostwasted.ttf') format('truetype');
 }

 @font-face {
   font-family: 'zealot';
   src: url('../../fonts/zealot.ttf') format('truetype');
 }


 #gametitle {
   font-size: 5rem;
   transition: font-family 0.5s;
   margin-top: 50px;
   top: 20%;
 }

 /* su queste righe setto la posizione relativa del menu, cosi non intralcia i bottoni,
        altrimenti verrebbero spostati quando il titolo cambia di grandezza*/
 .menu {
   position: relative;
   margin: 0;
   justify-content: center;
   align-items: start;
   height: 100px;
   font-size: 2rem;
   display: flex;
 }

 /* setto posizione assoluta sui bottoni cosi rimangono sempre fissi in un punto*/

 #inizio {
   padding: 12px 20px;
   position: fixed;
   bottom: 60%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 3rem;
   background: transparent;
 }

 #crediti {
   padding: 12px 20px;
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 3rem;
   background: transparent;
 }

 #schizzofrenia {
   padding: 12px 20px;
   position: fixed;
   bottom: 40%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 3rem;
   background: transparent;
 }

 /* QUANDO STAI SDRAIATO SUL LETTO */
 #bottonecamera {
   padding: 12px 20px;
   height: 100px;
   width: 200px;
   position: fixed;
   top: 20%;
   left: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 25px;
   background: transparent;
 }

 #getup {
   padding: 12px 20px;
   position: fixed;
   left: 50%;
   top: 10%;
   font-size: 3rem;
   background: transparent;
 }


 /* MECCANICA BASE DI SASSO CARTA FORBICE */
 .sasso {
   padding: 12px 20px;
   position: fixed;
   bottom: 40%;
   left: 43%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 2rem;
   background: transparent;
 }

 .carta {
   padding: 12px 20px;
   position: fixed;
   bottom: 40%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 2rem;
   background: transparent;
 }

 .forbice {
   padding: 12px 20px;
   position: fixed;
   bottom: 40%;
   left: 57%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 2rem;
   background: transparent;
 }


 /* QUA PER QUANDO SIAMO NEL CORRIDOIO */
 #bottoneCucina {
   padding: 12px 20px;
   position: fixed;
   bottom: 60%;
   left: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 2rem;
   background: transparent;
 }

 #bottoneBagno {
   padding: 12px 20px;
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 2rem;
   background: transparent;
 }

 #bottoneGarage {
   padding: 12px 20px;
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 2rem;
   background: transparent;
 }

 /* QUANDO SEI AFFACCIATO SULLA FINESTRA */

 #salta {
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 4rem;
   background: transparent;
 }

 #porta {
   padding: 12px 20px;
   position: fixed;
   top: 40%;
   left: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 25px;
   background: transparent;
 }

 /* QUESTO E' UN BOTTONE INVISIBLE, E' NELLA CAMERA E TI PORTA 
                      ALLA FINESTRA PRIMA DI COMBATTERE CONTRO LA PORTA */

 #snake {
   position: fixed;
   top: 1%;
   right: 0%;
   height: 70%;
   width: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 25px;
   background: transparent;
   border: none;
   cursor: pointer;
 }

 #medicine{
   padding: 12px 20px;
   position: fixed;
   top: 40%;
   right: 10%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 25px;
   background: transparent;
 }

 #indietroBagno{
   padding: 12px 20px;
   position: fixed;
   bottom: 10%;
   right: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 25px;
   background: transparent;
 }


 /*  QUESTO BOTTONE FA INIZIARE LA BOSSFIGHT CONTRO I CEREALI */
 #bottonebosscereale {
   padding: 12px 20px;
   position: fixed;
   bottom: 60%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   font-size: 4rem;
   background: transparent;
 }

 /* questa classe, .background, si riferisce a ogni singola immagine di sfondo
 e setta le proprietà di uno sfondo a ognuna di esse, dicesi che occupano tutto lo schermo,
 sono fisse, stanno dietro a tutti gli altri elementi*/
 .background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* serve a far adattare l'immagine allo schermo */
   z-index: -1;
   /* fa andare lìimmagine dietro tutti gli altri elementi */
 }

 /* overlay è l'oggetto che fa da transizione (fade to black) e sta davanti a tutto
 è di sfondo nero, e ha 2 stati, in uno è visibile e sparisce lentamente,
 ogni volta che viene cambiata stanza la sua opacità viene lentamente modificata*/
 #overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000000;
   opacity: 1;
   transition: opacity 0.5s ease;
   pointer-events: none;
   z-index: 999;
 }

 #overlay.visible {
   opacity: 0;
 }