@import url(bottoni.css);
@import url(font.css);

/*Definizioni varie*/

 #gametitle {
   font-size: 5rem;
   transition: font-family 0.5s;
   margin-top: 50px;
   top: 20%;
 }

 /* su queste righe setto la posizione relativa del menu, cosi non intralcia i bottoni,
        altrimenti verrebbero spostati quando il titolo cambia di grandezza*/
 .menu {
   position: relative;
   margin: 0;
   justify-content: center;
   align-items: start;
   height: 100px;
   font-size: 2rem;
   display: flex;
 }

 /* questa classe, .background, si riferisce a ogni singola immagine di sfondo
 e setta le proprietà di uno sfondo a ognuna di esse, dicesi che occupano tutto lo schermo,
 sono fisse, stanno dietro a tutti gli altri elementi*/
 .background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* serve a far adattare l'immagine allo schermo */
   z-index: -1;
   /* fa andare l'immagine dietro tutti gli altri elementi */
  }

#textbox{
  resize: none;
  pointer-events: none;
  user-select: none;

  width: 70%;
  height: 20%;
  position: fixed;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  bottom: 0;

  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding: 1%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.6);

  z-index: 998;
}

 /* overlay è l'oggetto che fa da transizione (fade to black) e sta davanti a tutto
 è di sfondo nero, e ha 2 stati, in uno è visibile e sparisce lentamente,
 ogni volta che viene cambiata stanza la sua opacità viene lentamente modificata*/
 #overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000000;
   opacity: 1;
   transition: opacity 0.5s ease;
   pointer-events: none;
   z-index: 999;
 }

 #overlay.visible {
   opacity: 0;
 }

#pillole{
  position: fixed;
  width: 5%;
  height: 15%;
  bottom: 28%;
  right: 49%;
}

.vite{
    width: 25%;
}

#viteGiocatore{
    width: 30%;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 7%;
    right: 3%;
    display: flex;
    gap: 1%;
}

#viteComputer{
    width: 30%;
    position: fixed;
    top: 7%;
    left: 3%;
    display: flex;
    gap: 1%;
}
 